<table id="gridview">
	<% if !@assignments.nil? && !@assignments.empty? %>	
		<th><%= sortable_link_to "Name", "assignments" %>
		<th><%= sortable_link_to "Assigned", "assignments" %></th>
		<th><%= sortable_link_to "Due", "assignments" %></th>
		<th><%= sortable_link_to "Type", "assignments" %></th>
		<th>Remove</th>
		<th>Notes<th>
		
		<% @assignments.each do |assign| %>
			<tr id=<%= "r#{assign.id}" %> >
				<%= render 'row', locals: { caller: assign} %>
		
			</tr>
		<% end %>
	<% end %>
</table>
<div align="center">
	<%= make_pages(@links) unless @links.nil? %>
</div>
<%= render "shared/modal" %>
<%= render "shared/validation" %>
<h4>New Assignment</h4>
<div class="well">
	<%= form_for [@course, Assignment.new], html: { class: "form-inline" } do |f| %>
		<div class="form-group">
		<%= f.select :assign_type, @course.filtered_types.map(&:assign_type), {}, { class: "form-control"} %> 
		</div>
		<div class="form-group">
		<%= f.text_field :name, class: "form-control", placeholder: "Name" %> 
		</div>
		<div class="form-group">
		<%= f.text_field :due, class: "form-control", placeholder: "Due Date", "data-provide" => "datepicker"%> 
		</div>
		
			<%= f.submit class: "btn btn-primary" %>
	<% end %>
</div>