<% if !@students.nil? && !@students.empty? %>
	<table id="gridview">
		<th><%= sortable_link_to "First", "students" %>
		<th><%= sortable_link_to "Last", "students" %></th>
		<th><%= sortable_link_to "Absences", "students" %></th>
		<th>Grade</th>
		<th>Remove</th>
		<th>Notes</th>

		<% @students.each do |student| %>
			<%= ind_row(@course.get_final_grade(student), "r#{student.id}") do %>
				<%= render "row", locals: {caller: student, course: @course} %>
			<% end %>
		<% end %>
	</table>
<% end %> 

<div align="center">
	<%= make_pages(@links) unless @links.nil? %>
</div>
<%= render "shared/validation" %>
<%= render "shared/modal" %>

<h4>New Student</h4>
<div class="well">
	<%= form_for [@course, Student.new], html: { class: "form-inline", id: "ajax_form" } do |f| %>
		<div class="form-group">
		<%= f.text_field :first, class: "form-control", placeholder: "First name" %> 
		</div>
		<div class="form-group">
		<%= f.text_field :last, class: "form-control", placeholder: "Last name" %>
		<%= f.hidden_field :absences, value: 0 %> 
		</div>
		
		
			<%= f.submit class: "btn btn-primary" %>
	<% end %>
</div>