<div id="header" >
	<h1>Log In</h1>
<div>

<%= form_tag({controller: "session", action: "create"}) do %>
	<div id="form_group" %>
		<%= label_tag :username %>
		<%= text_field_tag :username, nil, id: "form_control" %>
	</div>
	<div class="form_group" %>
		<%= label_tag :password %>
		<%= password_field_tag :password, nil, id: "form_control" %>
	</div>
	<%= submit_tag "Log In", id: "btn_primary" %>
<% end %>