
<div id="updatable">
	<%= render 'settings' %>
</div>

<br>
<br>

<%= render "shared/validation" %>
<h4>New Assignment type</h4>
<div class="well">

	<%= form_for [@course, AssignmentType.new], html: { class: "form-inline" } do |f| %>
		
		<div class="form-group">
			<%= f.label "Grading scheme" %>
			<%= f.select :format, ["Letter","Check"], {}, {class: "form-control"} %>
		</div>
		<div class="form-group">
			<%= f.text_field :assign_type, class: "form-control", placeholder: "Assignment type" %> 
		</div>
		<div class="form-group">
			<%= f.text_field :percentage, class: "form-control", placeholder: "% of Grade" %>
		</div>
		<div class="form-group">
			<%= f.label "Drop lowest grade?" %>
			<%= f.check_box :drop_lowest, checked_value: true, unchecked_value: false, class: "form-control" %>
		</div>
		
		
		
			<%= f.submit class: "btn btn-primary" %>
	<% end %>
</div>

